
body {
    font-family: 'Arial', sans-serif;
    background-color: #cab141c0;
    color: #333333fd;
  }

  h1, h2 {
    color: #444;
  }
  
  .menu {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .categoria {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  .item:hover {
    background-color: #f9f9f9;
  }
  
  .botao {
    background-color: #163ec4;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .botao:hover {
    background-color: hsl(202, 59%, 68%);
  }

footer {
    background-color: #f8f9fa; 
    padding: 20px; 
    text-align: center; 
    color: #6c757d; 
    font-size: 10px; 
    position: fixed;
    left: 0; 
    bottom: 0; 
    width: 100%; 
}

footer p {
    margin: 0; 
}